{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}


{% block content %}
<div class="main-content">
    <img src="{% static "img/dio.jpg" %}" alt="">
    <h1>Магазин товаров для личного пользования</h1>
    <p>В этом магазине вы найдете то что вы пожелаете</p>
    <p>Мы предлагаем большое количество товаров и их описание</p>
    <a class="cta-link" href="{% url 'items-list' %}">Перейти к списку товаров</a>
</div>
{% endblock %}
