<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя первая страница Django</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
            padding-top: 50px;
        }
        h1 {
            color: #0056b3;
        }
        p {
            font-size: 1.2em;
        }
    </style>
</head>
<body>
<nav>
    <a href="/">Home</a> | <a href="/items">Items</a> | <a href="/about">About</a>
</nav>
    <h1>Привет из Django!</h1>
    <p>Вы успешно отобразили HTML-страницу.</p>
    <p>Это ваша первая статическая страница, возвращаемая из шаблона.</p>
    <h1><a href="/items">Список товаров</a></h1>
</body>
</html>