{% extends 'base.html' %}
{% load static %}

{% block title %}{{ item.name }}{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/item_info.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <h1>{{ item.name }}</h1>
    <div class="brand">
        Бренд: {{ item.brand }}
    </div>
{#    {{ item.count | default:'Товар отсутствует '}}#}
    {% if item.count %}
        <div class="availability">Количество: {{ item.count }} шт.</div>
    {% else %}
        <div class="availability-out">Товар отсутствует</div>
    {% endif %}
    <div class="product-description">
        {{ item.description }}
    </div>
     <p><img src="{% static 'img/dio.jpg' %}" alt="Логотип"></p>
    <a class="back-link" href="{%  url 'items-list' %}"><-Назад к списку</a>
</div>
{% endblock %}